

body {
    background-color: white;
    text-align: center;
    font-family: 'Metrophobic', serif;
    font-size: 30px
}

#title {
  font-size: 50px

}


#all_messages {
  display: -ms-grid;
  display: grid;
  list-style-type: none

}

li {
  margin: 5px;
  padding: 5px;
}

.deletes{
background-image:url("images/skull.jpg")
 display: block;
 height: 20px;
 width: 50px;
 color: #000000;

 font: red;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 2px;


 }

.edits{
  display: block;
  height: 20px;
  width: 50px;
  background: white;
  font-size: 15
  padding-bottom: 2px;

  }
}
